<%= form_for(relation) do |f| %>
  <% if relation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(relation.errors.count, "error") %> prohibited this relation from being saved:</h2>

      <ul>
      <% relation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :allowed_name %>
    <%= f.check_box :allowed_name %>
  </div>

  <div class="field">
    <%= f.label :allowed_surname %>
    <%= f.check_box :allowed_surname %>
  </div>

  <div class="field">
    <%= f.label :allowed_email %>
    <%= f.check_box :allowed_email %>
  </div>

  <div class="field">
    <%= f.label :allowed_telephone %>
    <%= f.check_box :allowed_telephone %>
  </div>

  <div class="field">
    <%= f.label :allowed_date %>
    <%= f.check_box :allowed_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
