<p id="notice"><%= notice %></p>

<h1>Relations</h1>

<table>
  <thead>
    <tr>
      <th>Allowed name</th>
      <th>Allowed surname</th>
      <th>Allowed email</th>
      <th>Allowed telephone</th>
      <th>Allowed date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @relations.each do |relation| %>
      <tr>
        <td><%= relation.allowed_name %></td>
        <td><%= relation.allowed_surname %></td>
        <td><%= relation.allowed_email %></td>
        <td><%= relation.allowed_telephone %></td>
        <td><%= relation.allowed_date %></td>
        <td><%= link_to 'Show', relation %></td>
        <td><%= link_to 'Edit', edit_relation_path(relation) %></td>
        <td><%= link_to 'Destroy', relation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Relation', new_relation_path %>
<%= link_to 'JSON', relations_api_json_path %> 
<%= link_to 'Main Page', root_path %>