<h1>Konrad Social</h1>

<h3>Options</h3>

<table>
  <thead>
    <tr>
      <th>List of User</th>
      <th>List of Emails</th>
      <th>List of Telephones</th>
      <th>List of Relations</th>
      <th>List of Entries</th>
      <th>List of Likes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td><%= link_to 'Users', users_path %></td>
        <td><%= link_to 'Emails', emails_path %></td>
        <td><%= link_to 'Telephones', telephones_path %></td>
        <td><%= link_to 'Relations', relations_path %></td>
        <td><%= link_to 'Entries', entries_path %></td>
        <td><%= link_to 'Likes', likes_path %></td>
      </tr>

  </tbody>
</table>

<br>






