<%= form_for(telephone) do |f| %>
  <% if telephone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(telephone.errors.count, "error") %> prohibited this telephone from being saved:</h2>

      <ul>
      <% telephone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_telephone %>
    <%= f.number_field :id_telephone %>
  </div>

  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
